@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var homePage = Umbraco.ContentAtRoot().First();
    var pages = homePage
        .Children()
        .Where(x => x.IsVisible())
        .Prepend(homePage)
        .ToDictionary(x => x, x => x.IsAncestorOrSelf(Model));

    if(pages.Count(x => x.Value) > 1)
    {
        pages[homePage] = false;
    }
}

<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
	<div class="container">
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
			aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<a class="navbar-brand text-brand" href="/">Umbraco<span class="color-b">Estate</span></a>
		<button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none"
			data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
			<span class="fa fa-search" aria-hidden="true"></span>
		</button>
		<div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
			<ul class="navbar-nav">
				@foreach (var item in pages)
                {
					<li class="nav-item @(item.Value ? "active" : "")">
						<a class="nav-link" href="@item.Key.Url()">@item.Key.Name</a>
					</li>
				}
			</ul>
		</div>
		<div class="navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
			data-target="#navbarTogglerDemo01" aria-expanded="false">
		</div>
	</div>
</nav>
