<?xml version="1.0" encoding="utf-8"?>
<Content Key="6908fcaf-8895-43ee-9eb7-22bf8fc4eb13" Alias="Coppenhagen 1" Level="3">
  <Info>
    <Parent Key="060b468a-cc88-426b-a612-c391433adde2">Listings</Parent>
    <Path>/Home/Listings/Coppenhagen1</Path>
    <Trashed>false</Trashed>
    <ContentType>listingItem</ContentType>
    <CreateDate>2022-08-01T15:02:28</CreateDate>
    <NodeName Default="Coppenhagen 1" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[+45-1111-2222]]></Value>
    </contact>
    <description>
      <Value><![CDATA[Bright and delicious villa apartment on a total of 133 floor meters and access to the garden. The apartment is located on the 1st and 2nd floor. The apartment contains 3 good rooms, kitchen-alum with vaulted ceiling, newer bathroom and large available room on the second floor also with vaulted ceiling. The apartment also contains an extra small room with a washing machine and dryer. The apartment is located in a quiet neighborhood in Gentofte close to Bernstorffsparken, Dyrehaven, Ermelunden and Gentofte Sø.]]></Value>
    </description>
    <headline>
      <Value><![CDATA[3-room apartment in Coppenhagen]]></Value>
    </headline>
    <images>
      <Value><![CDATA[[{"key":"3e2afbf8-1ff8-493d-9bc0-efc842938a4f","mediaKey":"2ff0a29b-56be-4610-8594-76cff03aa2b8"},{"key":"c9512de4-f0c8-4803-a269-1870835c7540","mediaKey":"bd5c9bc6-276a-4221-bcee-41d45b91be1b"}]]]></Value>
    </images>
    <listingType>
      <Value><![CDATA[["For rent"]]]></Value>
    </listingType>
    <price>
      <Value><![CDATA[17000]]></Value>
    </price>
    <region>
      <Value><![CDATA[["Capital"]]]></Value>
    </region>
    <rooms>
      <Value><![CDATA[3]]></Value>
    </rooms>
    <size>
      <Value><![CDATA[133]]></Value>
    </size>
    <tags>
      <Value><![CDATA[["elevator","balcony"]]]></Value>
    </tags>
  </Properties>
</Content>