<?xml version="1.0" encoding="utf-8"?>
<Content Key="62ef37b1-566d-4029-85be-1db4040bdfb3" Alias="Coppenhagen 2" Level="3">
  <Info>
    <Parent Key="060b468a-cc88-426b-a612-c391433adde2">Listings</Parent>
    <Path>/Home/Listings/Coppenhagen2</Path>
    <Trashed>false</Trashed>
    <ContentType>listingItem</ContentType>
    <CreateDate>2022-08-01T15:05:02</CreateDate>
    <NodeName Default="Coppenhagen 2" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ab57423-f366-4b8c-a432-631f682e123d">ListingItem</Template>
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[+45-7890-4561]]></Value>
    </contact>
    <description>
      <Value><![CDATA[MODERN APARTMENTS IN A SUSTAINABLE FRAMEWORK Welcome to Kronehaver's 170 Swan-labelled 2, 3 and 4 bedroom apartments in Ørestaden. Here you will live in just the right mix between a vibrant city life and the peaceful nature. In the apartments, you can feel the holistic and sustainable design line that creates a perfect setting for your future home. All rooms are bright and inviting with stylish wooden floors and simple tiles. On selected walls in the apartment, there is concrete, which creates an exciting play in the true New Yorker style. In the kitchen family room there is space for parties, guests and everything that belongs to a nice life. ]]></Value>
    </description>
    <headline>
      <Value><![CDATA[2-room apartment in center]]></Value>
    </headline>
    <images>
      <Value><![CDATA[[{"key":"1d8ac024-8aa6-47e3-b0f0-6083c0bc4e38","mediaKey":"3a137f37-fe6c-48fb-9efa-8a972a95cfb9"},{"key":"6e914626-68c6-4205-968f-e70750c0f001","mediaKey":"f8dd0ff2-e121-4c17-bf7d-6392c5681d85"},{"key":"9d1a620e-074e-40e7-bc2f-c62670f539a0","mediaKey":"a220aeac-9ae3-4931-9ea7-7b037accbd46"}]]]></Value>
    </images>
    <listingType>
      <Value><![CDATA[["For rent"]]]></Value>
    </listingType>
    <price>
      <Value><![CDATA[11000]]></Value>
    </price>
    <region>
      <Value><![CDATA[["Capital"]]]></Value>
    </region>
    <rooms>
      <Value><![CDATA[2]]></Value>
    </rooms>
    <size>
      <Value><![CDATA[56]]></Value>
    </size>
    <tags>
      <Value><![CDATA[["furnished","pet-friendly","sharing-friendly"]]]></Value>
    </tags>
  </Properties>
</Content>