<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc4d8f57-4ed5-4ae8-9877-71070a38d709" Alias="Error 404" Level="2">
  <Info>
    <Parent Key="0d68b392-044b-4e33-96a4-63533aca3b8b">Home</Parent>
    <Path>/Home/Error404</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2022-08-08T16:46:50</CreateDate>
    <NodeName Default="Error 404" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f83cf1b2-3570-4052-9371-b26bbc34b5de">Error404</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>