<?xml version="1.0" encoding="utf-8"?>
<Content Key="b610454d-2004-423b-88d2-ecdefec58139" Alias="Garage" Level="3">
  <Info>
    <Parent Key="060b468a-cc88-426b-a612-c391433adde2">Listings</Parent>
    <Path>/Home/Listings/Garage</Path>
    <Trashed>false</Trashed>
    <ContentType>listingItem</ContentType>
    <CreateDate>2022-07-31T19:42:07</CreateDate>
    <NodeName Default="Garage" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ab57423-f366-4b8c-a432-631f682e123d">ListingItem</Template>
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[+45-4567-7890]]></Value>
    </contact>
    <description>
      <Value><![CDATA[This is just a garage for your car. Provides. It does have heating, and electricity. Not too far from Coppenhagen]]></Value>
    </description>
    <headline>
      <Value><![CDATA[Garage, with heating]]></Value>
    </headline>
    <images>
      <Value><![CDATA[[{"key":"1a3e3d82-3db2-45e2-b66d-fe0e2659d31a","mediaKey":"5dac38da-b645-4ba8-99dc-9ce2f1822cd3"}]]]></Value>
    </images>
    <listingType>
      <Value><![CDATA[["For rent"]]]></Value>
    </listingType>
    <price>
      <Value><![CDATA[1500]]></Value>
    </price>
    <region>
      <Value><![CDATA[["Zealand"]]]></Value>
    </region>
    <rooms>
      <Value><![CDATA[1]]></Value>
    </rooms>
    <size>
      <Value><![CDATA[5]]></Value>
    </size>
    <tags>
      <Value><![CDATA[["parking"]]]></Value>
    </tags>
  </Properties>
</Content>