<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d68b392-044b-4e33-96a4-63533aca3b8b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-07-30T21:43:01</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7d42bf64-a087-4202-bea7-8a7a8884c985">Home</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full",
          "id": "22fb6ae1-8bcb-42d7-bac9-087e14ac5e2c",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Our Services",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Halves",
          "id": "b79181a3-7f8e-4092-bdf7-26a5791f267a",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": "Rentals",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel ipsum nec turpis consectetur laoreet. Proin placerat velit et dolor commodo aliquet. Etiam ullamcorper vestibulum sapien, nec pellentesque lacus posuere a. Sed molestie lectus at justo convallis, at tincidunt est fermentum. Maecenas blandit finibus arcu, ut feugiat elit posuere id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ac ligula non nibh rutrum commodo. Nunc diam massa, ultricies a tortor vel, vehicula pellentesque lorem. Sed suscipit aliquam purus ut bibendum testing.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": "Real Estate for Sale",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Fusce at arcu et dui rhoncus vehicula. Mauris sagittis nunc in hendrerit porta. Fusce enim ipsum, placerat pretium risus ut, imperdiet tincidunt erat. Phasellus ultricies augue eget massa bibendum, in viverra lacus cursus. Ut ex neque, malesuada quis lorem a, aliquet blandit enim. Mauris ipsum ex, imperdiet eu vestibulum eu, interdum vitae quam. Sed in facilisis mi. Integer accumsan mattis bibendum. Phasellus vel erat id nunc euismod aliquet. Maecenas egestas, purus eget vestibulum laoreet, neque odio dapibus nunc.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Full",
          "id": "a70fd59c-6486-4414-827e-32c62340bda1",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Testimonials",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "1-to-2",
          "id": "4b4a0205-86a5-4f22-8f2c-fd04c20b83f9",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1084,
                    "udi": "umb://media/c07df1f8cf604ad6bc336428c25b919b",
                    "image": "/media/51yh1qda/pexels-photo-1222271.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "Jack Smith",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p style=\"text-align: justify;\">Sed feugiat fringilla porttitor. Ut condimentum sit amet metus eu commodo. Phasellus ut interdum neque. Vestibulum eget ultricies tellus, eget suscipit augue. Praesent vitae suscipit ante, porta egestas leo. Pellentesque rhoncus dictum eros nec elementum. In hendrerit facilisis dignissim.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Full",
          "id": "d4afe148-dd1e-4c8a-b4b1-0f184e668bb7",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Contact",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Thirds",
          "id": "3a8ce7fb-81fe-41be-94ca-a8166267f164",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": "Office",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>Slotsgade 3</p>\n<p>5000 Odense</p>\n<p>+45-1234-5678</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": "Social",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p><a href=\"https://www.instagram.com/\">Instagram</a></p>\n<p><a href=\"https://www.facebook.com/\">Facebook</a></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "4",
              "controls": [
                {
                  "value": "Support",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p><a href=\"mailto:support@umbracoestate.com\">support@umbracoestate.com</a></p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </mainContent>
  </Properties>
</Content>