<?xml version="1.0" encoding="utf-8"?>
<Content Key="060b468a-cc88-426b-a612-c391433adde2" Alias="Listings" Level="2">
  <Info>
    <Parent Key="0d68b392-044b-4e33-96a4-63533aca3b8b">Home</Parent>
    <Path>/Home/Listings</Path>
    <Trashed>false</Trashed>
    <ContentType>listings</ContentType>
    <CreateDate>2022-07-31T15:03:33</CreateDate>
    <NodeName Default="Listings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8b5f867a-fb60-47d9-a15c-5f264525d31c">Listings</Template>
  </Info>
  <Properties />
</Content>