<?xml version="1.0" encoding="utf-8"?>
<Content Key="d878308c-f98e-4feb-9163-f7db67d95cbf" Alias="Normal Place" Level="3">
  <Info>
    <Parent Key="060b468a-cc88-426b-a612-c391433adde2">Listings</Parent>
    <Path>/Home/Listings/NormalPlace</Path>
    <Trashed>false</Trashed>
    <ContentType>listingItem</ContentType>
    <CreateDate>2022-07-31T18:56:52</CreateDate>
    <NodeName Default="Normal Place" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ab57423-f366-4b8c-a432-631f682e123d">ListingItem</Template>
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[+45-1122-3344]]></Value>
    </contact>
    <description>
      <Value><![CDATA[Is the price too much? Or too little? I have no idea.]]></Value>
    </description>
    <headline>
      <Value><![CDATA[Just a normal place]]></Value>
    </headline>
    <images>
      <Value><![CDATA[[{"key":"23cf1f47-d7dc-4727-aa48-cccdffb0d4c5","mediaKey":"58151e44-4420-4cca-9450-39da6a8e1a56"},{"key":"67992d27-c7d5-4e82-a17c-e08be5fafd57","mediaKey":"cd105697-b770-4e73-8a87-0817c99e8eeb"},{"key":"5c531b87-da91-4e7a-8331-58ae67b53219","mediaKey":"611cea95-758b-4252-bb2c-34ded799eb1e"}]]]></Value>
    </images>
    <listingType>
      <Value><![CDATA[["For sale"]]]></Value>
    </listingType>
    <price>
      <Value><![CDATA[2000000]]></Value>
    </price>
    <region>
      <Value><![CDATA[["South"]]]></Value>
    </region>
    <rooms>
      <Value><![CDATA[2]]></Value>
    </rooms>
    <size>
      <Value><![CDATA[40]]></Value>
    </size>
    <tags>
      <Value><![CDATA[["parking"]]]></Value>
    </tags>
  </Properties>
</Content>