<?xml version="1.0" encoding="utf-8"?>
<Content Key="01ef115c-12e2-4851-8a03-8e27d2230415" Alias="Small Space" Level="3">
  <Info>
    <Parent Key="060b468a-cc88-426b-a612-c391433adde2">Listings</Parent>
    <Path>/Home/Listings/SmallSpace</Path>
    <Trashed>false</Trashed>
    <ContentType>listingItem</ContentType>
    <CreateDate>2022-07-31T18:52:55</CreateDate>
    <NodeName Default="Small Space" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0ab57423-f366-4b8c-a432-631f682e123d">ListingItem</Template>
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[+45-1234-1234]]></Value>
    </contact>
    <description>
      <Value><![CDATA[You want a cheap place? Well here it is.]]></Value>
    </description>
    <headline>
      <Value><![CDATA[Small Space]]></Value>
    </headline>
    <images>
      <Value><![CDATA[[{"key":"f01ffb75-fb89-4d2b-94bb-285d2c61d8f2","mediaKey":"3d1ca170-cfe4-4bc4-8e0c-4fc19371cbcd"},{"key":"c1568a5d-0ee3-4bbf-9b1b-c21a798733fe","mediaKey":"cffcd85f-eb7c-42a9-bbbf-62e14fce42e2"}]]]></Value>
    </images>
    <listingType>
      <Value><![CDATA[["For rent"]]]></Value>
    </listingType>
    <price>
      <Value><![CDATA[4000]]></Value>
    </price>
    <region>
      <Value><![CDATA[["North"]]]></Value>
    </region>
    <rooms>
      <Value><![CDATA[1]]></Value>
    </rooms>
    <size>
      <Value><![CDATA[15]]></Value>
    </size>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>