<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3f89656-cc0b-4bc2-944c-174d699fbe8b" Alias="Studio with common area" Level="3">
  <Info>
    <Parent Key="060b468a-cc88-426b-a612-c391433adde2">Listings</Parent>
    <Path>/Home/Listings/StudioWithCommonArea</Path>
    <Trashed>false</Trashed>
    <ContentType>listingItem</ContentType>
    <CreateDate>2022-08-04T14:03:08</CreateDate>
    <NodeName Default="Studio with common area" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[+45-9876-5432]]></Value>
    </contact>
    <description>
      <Value><![CDATA[A small studio apartment, with a gym & restaurant in the building]]></Value>
    </description>
    <headline>
      <Value><![CDATA[Studio with good common area]]></Value>
    </headline>
    <images>
      <Value><![CDATA[[{"key":"7a3a065a-9168-487c-950e-62648267b46d","mediaKey":"aeaf5101-54a4-49b2-879b-cd085af36dad"},{"key":"5e9b4bf6-2c36-4542-bf44-e444ba48b137","mediaKey":"a9349caf-ecb6-4c38-b888-8fa8914e3436"},{"key":"8c067477-9ec8-4c57-a971-438cb58ae632","mediaKey":"3d346f8c-67b7-4323-9dbe-916a236c1f98"}]]]></Value>
    </images>
    <listingType>
      <Value><![CDATA[["For sale"]]]></Value>
    </listingType>
    <price>
      <Value><![CDATA[1000000]]></Value>
    </price>
    <region>
      <Value><![CDATA[["Zealand"]]]></Value>
    </region>
    <rooms>
      <Value><![CDATA[1]]></Value>
    </rooms>
    <size>
      <Value><![CDATA[30]]></Value>
    </size>
    <tags>
      <Value><![CDATA[["balcony","gym","restaurant"]]]></Value>
    </tags>
  </Properties>
</Content>