<?xml version="1.0" encoding="utf-8"?>
<Content Key="90866390-2c98-43ac-ad10-a5367f6eaf52" Alias="Testing Villa" Level="3">
  <Info>
    <Parent Key="060b468a-cc88-426b-a612-c391433adde2">Listings</Parent>
    <Path>/Home/Listings/TestingVilla</Path>
    <Trashed>false</Trashed>
    <ContentType>listingItem</ContentType>
    <CreateDate>2022-07-31T18:50:15</CreateDate>
    <NodeName Default="Testing Villa" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[+45-1234-1234]]></Value>
    </contact>
    <description>
      <Value><![CDATA[This is a very nice house, at the edge of town. Please rent, thank you]]></Value>
    </description>
    <headline>
      <Value><![CDATA[Testing Villa]]></Value>
    </headline>
    <images>
      <Value><![CDATA[[{"key":"903601f0-d9ad-435f-b469-12d387b90581","mediaKey":"2c1c62ca-e14d-442e-9c4d-1722d7465c69"},{"key":"03fdafcf-80dc-4c6e-b90d-14d61d43b79d","mediaKey":"1ef511b9-aec5-4e05-9f13-f0e6d9597da2"},{"key":"a9823073-39fb-49ba-bb4a-b05c485af1e2","mediaKey":"43f21eac-7508-4098-bcb0-d88cb3279a6f"}]]]></Value>
    </images>
    <listingType>
      <Value><![CDATA[["For rent"]]]></Value>
    </listingType>
    <price>
      <Value><![CDATA[12000]]></Value>
    </price>
    <region>
      <Value><![CDATA[["South"]]]></Value>
    </region>
    <rooms>
      <Value><![CDATA[3]]></Value>
    </rooms>
    <size>
      <Value><![CDATA[95]]></Value>
    </size>
    <tags>
      <Value><![CDATA[["elevator","pet-friendly","furnished","parking"]]]></Value>
    </tags>
  </Properties>
</Content>