@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>
	
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div style="padding-top: 12rem;">
	@Html.GetGridHtml(Model, "mainContent")
</div>