@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>

@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus porttitor lorem in scelerisque. Interdum
	et
	malesuada fames ac ante ipsum primis in faucibus. Proin sagittis lorem sit amet maximus molestie. Quisque non tortor
	vel
	augue hendrerit varius. Maecenas commodo metus a elit posuere aliquet. Vestibulum ante ipsum primis in faucibus orci
	luctus et ultrices posuere cubilia curae; Vestibulum sed consequat erat. Cras eget libero ac orci tristique ultrices
	non
	id odio.
</div>

<div>
	Etiam cursus consequat metus non vestibulum. Nullam malesuada dignissim velit, vel viverra nunc porta vel. Praesent
	in
	sagittis urna. Fusce fringilla urna quis convallis laoreet. Nunc consequat sed eros et tincidunt. Nunc vel sem eget
	ex
	elementum maximus. Cras non quam sem.
</div>

<div>
	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer pulvinar fermentum
	suscipit. Mauris vel ante vitae dolor facilisis scelerisque non vel justo. Suspendisse pulvinar, tortor ut fermentum
	placerat, elit lorem fringilla orci, ac auctor dolor ex sed metus. Morbi ex quam, gravida vel ullamcorper ac, ornare
	sed
	nisl. Vivamus eget cursus purus. Etiam in venenatis neque, a euismod odio. Quisque a nibh vitae augue ultricies
	viverra.
	Donec tempus, erat a dignissim pretium, sapien elit gravida tellus, quis faucibus arcu nisl in est. Etiam commodo
	elit
	sed condimentum porta.
</div>

<div>
	Aliquam erat volutpat. Phasellus diam ante, suscipit vitae turpis non, faucibus tristique ipsum. Nullam porttitor
	purus
	vel hendrerit aliquam. Phasellus imperdiet tellus non purus consequat, tempus porta justo commodo. Fusce
	pellentesque ex
	vitae odio euismod dictum. Vestibulum dictum eros in eros ullamcorper, ut sodales elit tempor. In gravida arcu quis
	metus porttitor, eget tempor nulla hendrerit. Sed ac ipsum nec ante convallis egestas eu a nunc. Mauris non est
	fringilla, pellentesque massa sed, congue diam. Sed dictum quam nunc, eu malesuada magna feugiat eget. Morbi finibus
	at
	magna sit amet tristique. Nulla semper neque non nunc congue accumsan. Donec ac velit quis leo efficitur auctor.
	Etiam
	faucibus ante mauris, eu vehicula magna posuere non. In hac habitasse platea dictumst. Donec consequat a nulla eget
	semper.
</div>

<div>
	Donec vestibulum dui enim, nec semper velit tristique ut. Nam scelerisque sem eget lacus scelerisque laoreet.
	Vestibulum
	ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce lacinia erat et tempus auctor.
	Nulla
	condimentum magna quis rutrum porttitor. Nulla ornare id justo sit amet maximus. Curabitur bibendum lorem nec nulla
	molestie, at mollis ante rutrum.
</div>