@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Listings>

@using ClientDependency.Core.Mvc

@{
    Layout = "Master.cshtml";

    // handles filtering & pagination queries
    Html.RequiresJs("/assets/js/listings.js");

    // handles fade-in after query
    Html.RequiresCss("/assets/css/listings.css");
}


@* the fun starts here *@

@* intro start *@
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Properties</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Listings
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
@* intro end *@


@* results will get inserted below *@
<section class="property-grid grid">
    <div class="container" id="results-container">
        @* default *@
        @Html.Partial("~/Views/Partials/ListingResults.cshtml")
    </div>
</section>

