@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Umbraco Estate Agency</title>
	<!-- Bootstrap CSS File -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<!-- Main Stylesheet File -->
	<link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Umbraco<span class="color-b">Estate</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>
		</div>
	</nav>

	<div>
		@RenderBody()
	</div>

	<script src="assets/jquery/jquery.min.js"></script>
  	<script src="assets/jquery/jquery-migrate.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>