@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc

@{
	Layout = null;

	Html.RequiresCss("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
	Html.RequiresCss("/assets/lib/bootstrap/css/bootstrap.min.css", 10);
	Html.RequiresCss("/assets/lib/font-awesome/css/font-awesome.min.css", 10);
	Html.RequiresCss("/assets/lib/animate/animate.min.css", 10);
	Html.RequiresCss("/assets/lib/ionicons/css/ionicons.min.css", 10);
	Html.RequiresCss("/assets/lib/owlcarousel/assets/owl.carousel.min.css", 10);
	Html.RequiresCss("/assets/lib/freecss/style.css", 10);

	Html.RequiresCss("/assets/css/umbraco-grid.css", 10);

	Html.RequiresJs("/assets/lib/jquery/jquery.min.js", 10);
	Html.RequiresJs("/assets/lib/jquery/jquery-migrate.min.js", 10);
	Html.RequiresJs("/assets/lib/popper/popper.min.js", 10);
	Html.RequiresJs("/assets/lib/bootstrap/js/bootstrap.min.js", 10);
	Html.RequiresJs("/assets/lib/easing/easing.min.js", 10);
	Html.RequiresJs("/assets/lib/owlcarousel/owl.carousel.min.js", 10);
	Html.RequiresJs("/assets/lib/scrollreveal/scrollreveal.min.js", 10);
	Html.RequiresJs("/assets/lib/freecss/main.js", 10);
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Umbraco Estate Agency</title>

	@Html.RenderCssHere()
</head>

<body>

	@Html.Partial("~/Views/Partials/Navigation.cshtml")

	@RenderBody()

	@Html.RenderJsHere()
</body>
</html>