<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad2a568d-58a8-4ffd-8de0-6c1afb643e9b" Alias="error404" Level="2">
  <Info>
    <Name>Error 404</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2dbdff28-786e-4579-ad71-15d3071baf73">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Error404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f83cf1b2-3570-4052-9371-b26bbc34b5de">Error404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>