<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d84cc51-7cd5-4027-a59d-4dc07bf04d64" Alias="home" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="581a1a5b-650b-4d37-b299-5e86411c4247">contentControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d42bf64-a087-4202-bea7-8a7a8884c985">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5b064e4c-6086-4c38-88f3-a62d2e31c006" SortOrder="0">about</ContentType>
    <ContentType Key="2e560f79-7db0-4217-aea3-10cf26455cc5" SortOrder="1">listings</ContentType>
    <ContentType Key="f0709e52-d000-49cd-a9e3-b846116e3468" SortOrder="2">listingResults</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>