<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1e3abbce-f20f-47e3-a5a4-9cfc2c21a66e" Alias="listingItem" Level="2">
  <Info>
    <Name>Listing Item</Name>
    <Icon>icon-rate color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="fa29bf0e-820a-45c4-a282-9da9364c7a33">listingControls</Composition>
    </Compositions>
    <DefaultTemplate>ListingItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0ab57423-f366-4b8c-a432-631f682e123d">ListingItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>