<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e560f79-7db0-4217-aea3-10cf26455cc5" Alias="listings" Level="2">
  <Info>
    <Name>Listings</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Listings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8b5f867a-fb60-47d9-a15c-5f264525d31c">Listings</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1e3abbce-f20f-47e3-a5a4-9cfc2c21a66e" SortOrder="0">listingItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>