<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa29bf0e-820a-45c4-a282-9da9364c7a33" Alias="listingControls" Level="2">
  <Info>
    <Name>Listing Controls</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>653fe892-2965-4136-a6db-7ffbce7d2753</Key>
      <Name>Contact</Name>
      <Alias>contact</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^\+45-[0-9]{4}-[0-9]{4}$</Validation>
      <Description><![CDATA[Enter a contact phone number in the following format +45-0000-0000]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="listingDetails">Listing Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Format must be +45-0000-0000</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd846c1a-8305-4454-8cfd-fe72f2b138d5</Key>
      <Name>description</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Write a few words about the listing]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="listingDetails">Listing Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>704656d6-b0d7-4ac4-bab0-ec0464378fba</Key>
      <Name>headline</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief description of the listing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listingDetails">Listing Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29fdfb4b-3838-4245-9f92-de3d4e77dac4</Key>
      <Name>images</Name>
      <Alias>images</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="listingDetails">Listing Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>You need to add at least one image</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1e014337-b0d7-4799-aa17-9c219d017578</Key>
      <Name>Listing type</Name>
      <Alias>listingType</Alias>
      <Definition>4884d2fa-3d27-4ed7-8f3d-ea09e8331543</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select if it is for rent, or for sale]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="searchProperties1">Search Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac25d5ae-cd52-4bd5-8149-c12d4525a676</Key>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[1-9][0-9]*$</Validation>
      <Description><![CDATA[In DKK. If it is for rent, the monthly price. If it is for sale, the sale price.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="searchProperties1">Search Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Value must be greater than 0</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91b59a9a-724d-4311-b9d7-4790747930ef</Key>
      <Name>region</Name>
      <Alias>region</Alias>
      <Definition>c24deb62-4986-4fa9-9f1e-d6c6c56395bf</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="searchProperties1">Search Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2dfd462-60c1-4303-919c-8f2daa982280</Key>
      <Name>Number of Rooms</Name>
      <Alias>rooms</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[1-9]*$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="searchProperties1">Search Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Value must be greater than 0</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87c0c6d7-e745-47d0-805d-a3ecc1aba8a1</Key>
      <Name>Size</Name>
      <Alias>size</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[1-9][0-9]*$</Validation>
      <Description><![CDATA[Size of the accomodation in m2]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="searchProperties1">Search Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Value must be greater than 0</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>235882cb-04e1-47f6-9b7a-28f084e41c26</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Interesting aspects of the listing]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="searchProperties1">Search Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Search Properties</Caption>
      <SortOrder>0</SortOrder>
      <Alias>searchProperties1</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Listing Details</Caption>
      <SortOrder>1</SortOrder>
      <Alias>listingDetails</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>