<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2dbdff28-786e-4579-ad71-15d3071baf73" Alias="visibilityControls" Level="2">
  <Info>
    <Name>Visibility Controls</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9ddd1912-92b2-4c25-a5e0-a75f95da6ec7</Key>
      <Name>Hide Page</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>295ff842-d044-4e4d-8d24-a7b630fd0b38</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Should it show up in the navbar, and such]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Main</Caption>
      <SortOrder>0</SortOrder>
      <Alias>main</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>