<?xml version="1.0" encoding="utf-8"?>
<Media Key="b787b3b1-e9eb-402f-b540-ab4ac43a94a6" Alias="Istockphoto 909675728 1024X1024" Level="2">
  <Info>
    <Parent Key="0c95dcf0-d8bb-4c33-93b9-d1972db2f7d1">MainContent</Parent>
    <Path>/MainContent/Istockphoto9096757281024X1024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-01T11:24:24</CreateDate>
    <NodeName Default="Istockphoto 909675728 1024X1024" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w4zjpn5l/istockphoto-909675728-1024x1024.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>