<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c95dcf0-d8bb-4c33-93b9-d1972db2f7d1" Alias="MainContent" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainContent</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-31T14:12:23</CreateDate>
    <NodeName Default="MainContent" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>