<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd105697-b770-4e73-8a87-0817c99e8eeb" Alias="Normal2" Level="2">
  <Info>
    <Parent Key="6bf4a96d-c233-4189-ac00-14432bce00c0">ListingImages</Parent>
    <Path>/ListingImages/Normal2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-01T12:35:31</CreateDate>
    <NodeName Default="Normal2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sflbbtlq/normal2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>