<?xml version="1.0" encoding="utf-8"?>
<Media Key="611cea95-758b-4252-bb2c-34ded799eb1e" Alias="Normal3" Level="2">
  <Info>
    <Parent Key="6bf4a96d-c233-4189-ac00-14432bce00c0">ListingImages</Parent>
    <Path>/ListingImages/Normal3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-01T12:35:31</CreateDate>
    <NodeName Default="Normal3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/spvbyyml/normal3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>