<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9b01440-376f-4df5-ba36-330a878cad37" Alias="Slide About 1" Level="2">
  <Info>
    <Parent Key="0c95dcf0-d8bb-4c33-93b9-d1972db2f7d1">MainContent</Parent>
    <Path>/MainContent/SlideAbout1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-01T11:21:49</CreateDate>
    <NodeName Default="Slide About 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iyklbwlp/slide-about-1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>