<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d346f8c-67b7-4323-9dbe-916a236c1f98" Alias="Studio2" Level="2">
  <Info>
    <Parent Key="6bf4a96d-c233-4189-ac00-14432bce00c0">ListingImages</Parent>
    <Path>/ListingImages/Studio2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-04T14:02:06</CreateDate>
    <NodeName Default="Studio2" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rjxdipnx/studio2.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>