<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9349caf-ecb6-4c38-b888-8fa8914e3436" Alias="Studio1" Level="2">
  <Info>
    <Parent Key="6bf4a96d-c233-4189-ac00-14432bce00c0">ListingImages</Parent>
    <Path>/ListingImages/Studio1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-04T14:02:06</CreateDate>
    <NodeName Default="Studio1" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vgodjknw/studio1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>