<?xml version="1.0" encoding="utf-8"?>
<Media Key="aeaf5101-54a4-49b2-879b-cd085af36dad" Alias="Studio3" Level="2">
  <Info>
    <Parent Key="6bf4a96d-c233-4189-ac00-14432bce00c0">ListingImages</Parent>
    <Path>/ListingImages/Studio3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-04T14:02:48</CreateDate>
    <NodeName Default="Studio3" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a3il5lve/studio3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>