<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c1c62ca-e14d-442e-9c4d-1722d7465c69" Alias="Villa1" Level="2">
  <Info>
    <Parent Key="6bf4a96d-c233-4189-ac00-14432bce00c0">ListingImages</Parent>
    <Path>/ListingImages/Villa1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-08-01T12:35:31</CreateDate>
    <NodeName Default="Villa1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zrrbylcn/villa1.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>