<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c24deb62-4986-4fa9-9f1e-d6c6c56395bf" Alias="Listing Controls - Region - Dropdown" Level="1">
  <Info>
    <Name>Listing Controls - Region - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Capital"
    },
    {
      "id": 2,
      "value": "Zealand"
    },
    {
      "id": 3,
      "value": "North"
    },
    {
      "id": 4,
      "value": "Central"
    },
    {
      "id": 5,
      "value": "South"
    }
  ]
}]]></Config>
</DataType>