<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4884d2fa-3d27-4ed7-8f3d-ea09e8331543" Alias="Listing Controls - Listing type - Dropdown" Level="1">
  <Info>
    <Name>Listing Controls - Listing type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "For rent"
    },
    {
      "id": 2,
      "value": "For sale"
    }
  ]
}]]></Config>
</DataType>