<?xml version="1.0" encoding="utf-8"?>
<DataType Key="818638bd-06cc-4464-a511-bfa3ec7e3395" Alias="Listing Controls - Region - Textbox" Level="1">
  <Info>
    <Name>Listing Controls - Region - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>