<?xml version="1.0" encoding="utf-8"?>
<DataType Key="295ff842-d044-4e4d-8d24-a7b630fd0b38" Alias="Visibility Controls - Is Visible - Toggle" Level="1">
  <Info>
    <Name>Visibility Controls - Is Visible - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": true,
  "LabelOn": "Hidden",
  "LabelOff": "Not hidden"
}]]></Config>
</DataType>